footer {
    background-color: $secondaryColor;
    color: $fontColor;
  
    .info {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
        span {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }

       a {
           display: inline-block;
           color: $fontColor;
           text-decoration: underline;
           margin-left: 15px;
       }
     }    
  }